@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>General Page</title>
</head>
<body>
    <h1>This is a general page</h1>
</body>
</html>
